[Unit]
Description=GTP_GPIO_Sensors_Proxy
Wants=network-online.target
#Requires=
After=syslog.target network.target network-online.target

[Service]
#Environment="PRESTART_DELAY=0"
ExecStart=/opt/glosav/gtp-rutoll-proxy-sensors/bin/gtp-rutoll-proxy-sensors configurations-8-1.json constraint.json
ExecReload=kill -s SIGUSR1 $MAINPID
KillSignal=SIGINT
TimeoutStopSec=3s
RestartKillSignal=SIGINT
SendSIGKILL=Yes
TimeoutAbortSec=5s
WorkingDirectory=/opt/glosav/gtp-rutoll-proxy-sensors/bin
KillMode=process
#Type=notify
#WatchdogSec=5s
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
